<!-- Reminder -->
<!DOCTYPE HTML>
<html>
<head>
    <title> FightHaze</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="container-fluid">
    <!-- Top bar -->
    <div class="row-fluid top-container">
        <div class="span5">
           <a href="/"><img class="logo" src="../images/logo.png"></a>
        </div>
	{% if user_nickname %}
         <div class="span4 offset8 signin-align">
            <span> {{ user_nickname }} <a href="{{ logout }}">logout</a></span>
        </div>	
	 {% else %}
        <div class="span3 offset9 signin-align">
            <span> Login with <a href="/fighthaze"><img src="../images/google.png"></a></span>
        </div>
	{% endif %}
    </div>
    <!-- End of top bar -->

    <!-- Main navigation -->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/">Home</a></li>
		<li><a href="/pledge">Pledge</a></li>
		{% if user_nickname %}
		<li><a href="/reminder">Reminder</a></li>
		{% endif %}
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid top-pad-one">
      <p>This site is built as part of the <a href="https://orbital.comp.nus.edu.sg/" target="_blank">Orbital programme</a> at the <a href="http://www.comp.nus.edu.sg" target="_blank">NUS School of Computing</a>. The Orbital programme aims to develop a builder, maker, and creator culture among School of Computing students.</p>
      <p> Author: <a href="http://www.comp.nus.edu.sg/~leews" target="_blank">Lee Wee Sun</a> </p>
    </div>

</div>
</body>
</html>
